{% extends "base.html" %}
{% block content %}


<div class="hero-image">
        <div class="hero-text">
          <h1>I am John Doe</h1>
          <p>And I'm a Photographer</p>
          <div class="box">
                <input type="search" id="search" placeholder="Search" />
           </div>
        </div>
</div>
<div>
        {% for project in projects %}
        <h3><a href={% url 'single-project' project.id %}>{{ project.title }}</a></h3>
        {% endfor %}
</div>

{% endblock content %}


